<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD1ABPTH-8o5k_3jaAk86Qhbn9VkQP3mF0</string>
	<key>GCM_SENDER_ID</key>
	<string>805945173734</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.docApp</string>
	<key>PROJECT_ID</key>
	<string>doctor-app-a56d9</string>
	<key>STORAGE_BUCKET</key>
	<string>doctor-app-a56d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:805945173734:ios:456ebd526c8a69e4773d27</string>
</dict>
</plist>